div.search-input-all {
  background-color: white !important;
  height: 60px !important;
  border-radius: 50px !important;
  border: 1px solid green !important;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-button {
  position: absolute;
  top: 20px;
  left: 10px;
  background: #EBF7D8;
  border: 0;
  cursor: pointer;
  z-index: 1;
}
.menu-line {
    width: 20px;
    height: 2px;
    background-color: green;
    margin: 5px 0;
    z-index: 0;
}
.draw-sidebar {
  width: 300px;
  height: 1000px;
  background: white;
}
.draw-container {
  height: 800px;
}
.draw-list {
  margin-top: 100px;
  margin-left: 80px;
  li {
    font-weight: bolder;
    list-style-type: none;
    margin: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    &:hover {
      color: green;
    }
  }
}
.all-politicians-cont {
  margin-top: 10px;
}
.all-politicians-container {
  width: 100%;
  height: 100%;
  z-index: 100;
}
.icon-menu {
  position: fixed;
  top: 10px;
  right: 0;
}
.edit-politician-cont {
  padding-top: 12px;
}
/*****************************************
            PROFILE CARD
*****************************************/
.all-card-container {
  margin: 10px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.all-card-container:hover {
  -webkit-transform: scale(1.01);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.all-politicians-page-card {
  width: 200px;
  float: left;
}
.all-card-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 10em;
}
.all-card-details{
  background-color: white;
  padding: 10px;
}
p.all-card-name {
  font-weight: bold;
  margin: 0;
  font-size: 12px;
}
p.all-card-post {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
  color: green;
}
p.all-card-state {
  margin: 0;
  font-size: 10px;
}
